<!------------------------------------------------------------------------------------------
  Author: Kevin Lu
  Date: May 26th, 2019
  Purpose: The skeleton of the website. Does all of the necessary structures for the website.
  Modification: - Moved around different locations of the controller in 
                  order to add another <div> section.
  ------------------------------------------------------------------------------------------>

  <!DOCTYPE html>

<html>
    <head>
        <title>RemindMe</title>
        <!-- Including Angular.js from file directory -->
        <script src="app/lib/angular.js"></script>
        <!-- CSS source code-->
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="javascript/controller.js"></script>
    </head>

  <body ng-app="reminderMe">
    <!--Creating Task Div section-->
    <div ng-controller="taskEntered" id="userController" class="taskCreator">
      <div id="EnterTsk">
          <h1>Enter Task</h1>
      </div>

      <form ng-submit="addButton()">
      <input type="text" ng-model="inputTask" id="userInput" size=40 placeholder="Enter Task">
      <button id="taskButton">Submit</button>
      </form>

      <div id="listingTask">
        <h1>Listing Task</h1>
        <ul>
            <li ng-repeat="tsk in tasks track by $index">{{ tsk }} <button ng-click="delete()">x</button></li>
        </ul>
      </div>
      
  </div>

  </body>
</html>