.app
{
    text-align: center;
    float: center;
    position: absolute;
    left: 800px;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

body
{
    background-color: grey;
}

.listed
{
    float: left;
}