/*
==============================================================================
Author: Kevin Lu 
Date: May 26th, 2019
Purpose: CSS which will change the property of the HTML.
Modification: - After added ID to two different <div> sections within 
                <body> tag, changed it so we can apply rules to specific <div> 
            - Cleaned up some unneeded properties and added property for button 
            to be aligned together with input task.
            - Changed the coloring of Listing tasks.
==============================================================================
*/

body
{
    background-color: #40403f;
}

/*Add features to the input section*/
#userInput
{
    font-size: 15 px;
    width: 80%;
    padding: 10 px;
    float: left;
    border: none;
    margin: 0;
    border-radius: 0;
}

#taskButton
{
    font-size: 15 px;
    padding: 10 px;
    float: left;
    border: none;
    margin: 0;
    border-radius: 0;
}

/*Adds property onto submit button*/
#inputButton
{
    float: left;
    padding: 10 px;
    border: none;
    margin: 0;
    border-radius: 0;
}

/* CSS Property applied to the listing tasks part of ul tag*/
ul li
{
    cursor: pointer;
    padding: 10 px 8 px 10 px 40 px;
    font-size: 15 px;
    transition: 0.2s;

    /* Making tasks unavailable to be selected. Applies to Safari, FireFox, Edge */
    user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

/* Applies when a task is clicked on, applies struck through indicating task completed */
ul li.checked
{
    text-decoration: line-through;
    background: #747373;
    color: white;
}

/* CSS property applied to task entered area */
#userController
{
    text-align: center;
    float: center;
    position: absolute;
    left: 800px;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

#EnterTsk
{
    float: left;
    width: 344px;
    border: 15 px;
    padding: 1 px;
    margin: 10 px;
    text-align: center;
}

/* Listing Task Section */
#listingTask
{
    float: right;
    width: 344px;
    border: 15 px;
    padding: 1 px;
    margin: 10 px;
    background: #40403f;
}

/*For the side menu bar*/
.sideClass 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideClass a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;color: gray;
    display: block;
    transition: 0.3s;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.sideClass a:hover 
{
    color: white;
}

.sideClass .closeButton 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) 
{
    .sideClass {padding-top: 15px;}
    .sideClass a {font-size: 18px;}
}