div
{
    text-align: center;
}

body
{
    background-color: grey;
    float: center;
    position: absolute;
    left: 800px;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}


.ceneter
{
    width: 300 px;
    height: 300 px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

